body {
    margin: 0;
}

html {
margin: 0;
}

@media (min-width: 576px) {
    /*body {*/
        /*background-color: black;*/
    /*}*/
}


h1.centered-header {
    text-align: center;
}

.right-aligned {
    text-align: right;
}